<style type = "text/css">
         body {
            margin: 0;
            padding: 0;
            background: url(img/rio.jpg) no-repeat center top;
            background-size: cover;
            font-family: sans-serif;
            height: 100vh;
          }
          h5{color:white;}
          nav{
          	width: 800px;
          }
          <style type="text/css">
    
</style>